/*
 *
 */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 0;
   outline: 0;
   text-decoration: none;
   list-style: none;
   font-family: inherit;
}

html,
body {
   height: 100%;
   width: 100%;
}


.fundo {
   height: 100%
}

.notificaCPF {
   display: none;
   position: absolute;
   background-color: #ffdddd;
   color: red;
   padding: 5px;
   border-radius: 5px;
   font-size: 12px;
   left: 104px;
   width: max-content;
   white-space: nowrap;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}